@model Blessings.Models.StaffLog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Edit StaffLog Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="StaffLogs" asp-action="Edit" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="StafflogId" type="hidden" />
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="Day" class="control-label"></label>
                                            <input asp-for="Day" class="form-control" />
                                            <span asp-validation-for="Day" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StaffCheckIn" class="control-label"></label>
                                            <input asp-for="StaffCheckIn" class="form-control" />
                                            <span asp-validation-for="StaffCheckIn" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StaffCheckOut" class="control-label"></label>
                                            <input asp-for="StaffCheckOut" class="form-control" />
                                            <span asp-validation-for="StaffCheckOut" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StaffId" class="control-label"></label>
                                            <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
                                            <span asp-validation-for="StaffId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success"> Update Changes </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>




@*<h1>Edit</h1>

<h4>StaffLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StafflogId" />
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffCheckIn" class="control-label"></label>
                <input asp-for="StaffCheckIn" class="form-control" />
                <span asp-validation-for="StaffCheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffCheckOut" class="control-label"></label>
                <input asp-for="StaffCheckOut" class="form-control" />
                <span asp-validation-for="StaffCheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
