@model Blessings.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Edit Enrollment Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Enrollments" asp-action="Edit" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="EnrollmentId" type="hidden" />
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="Course" class="control-label"></label>
                                            <input asp-for="Course" class="form-control" />
                                            <span asp-validation-for="Course" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RoomNo" class="control-label"></label>
                                            <input asp-for="RoomNo" class="form-control" />
                                            <span asp-validation-for="RoomNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EnrollmentDate" class="control-label"></label>
                                            <input asp-for="EnrollmentDate" class="form-control" />
                                            <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EnrollmentEndDate" class="control-label"></label>
                                            <input asp-for="EnrollmentEndDate" class="form-control" />
                                            <span asp-validation-for="EnrollmentEndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ChildId" class="control-label"></label>
                                            <select asp-for="ChildId" class="form-control" asp-items="ViewBag.ChildId"></select>
                                            <span asp-validation-for="ChildId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success"> Update Changes </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>




@*<div class="reportHeader">
    <h3>
         Edit enrollment info
    </h3>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentId" />
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label"></label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildId" class="control-label"></label>
                <select asp-for="ChildId" class="form-control" asp-items="ViewBag.ChildId"></select>
                <span asp-validation-for="ChildId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button" class="button" value="Children List"
           onclick="location.href='@Url.Action("Index", "Children")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
