@model Blessings.Models.Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                xdialog.alert("@ViewBag.Message");
            };
    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">


                    <div class="card-title">
                        <h4>Add payment info</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Payments" asp-action="Create" method="post">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="PayerName" class="control-label"></label>
                                            <input asp-for="PayerName" class="form-control" />
                                            <span asp-validation-for="PayerName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PaymentType" class="control-label"></label>
                                            <input asp-for="PaymentType" class="form-control" />
                                            <span asp-validation-for="PaymentType" class="text-danger"></span>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label asp-for="PaymentDate" class="control-label"></label>
                                                <input asp-for="PaymentDate" class="form-control" />
                                                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                                         </div>
                                         <div class="form-group">
                                                <label asp-for="Status" class="control-label"></label>
                                                <input asp-for="Status" class="form-control" />
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                          </div>
                                         <div class="form-group">
                                                <label asp-for="ChildId" class="control-label"></label>
                                                <select asp-for="ChildId" class="form-control" asp-items="ViewBag.ChildId"></select>
                                          </div>
                                         <div class="form-group">
                                                <button type="submit" value="Create" class="btn btn-success"> Save Changes </button>
                                         </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               @* End PAge Content *@
        </div>
    </div>






    @*<div class="reportHeader">
        <h1>
            Create
        </h1>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PayerName" class="control-label"></label>
                    <input asp-for="PayerName" class="form-control" />
                    <span asp-validation-for="PayerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentType" class="control-label"></label>
                    <input asp-for="PaymentType" class="form-control" />
                    <span asp-validation-for="PaymentType" class="text-danger"></span>
                </div>
                                        
                                          <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="PaymentDate" class="control-label"></label>
                    <input asp-for="PaymentDate" class="form-control" />
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChildId" class="control-label"></label>
                    <select asp-for="ChildId" class="form-control" asp-items="ViewBag.ChildId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <input type="button" class="button" value="Back to List"
               onclick="location.href='@Url.Action("Index")'" />
    </div>*@

    @*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
