@model Blessings.Models.ReportsList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ReportsList</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
