@model IEnumerable<Blessings.Models.ReportsList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card horizontal">
                    <a><i class="fa fa-user-times"></i> <strong>sign In-out Children Reports</strong></a>
                    <div class="container-fluid">
                        <div class="card">
                            <a href="@Url.Action("Index", "Sign_InOutChildren")">Children Attendance Report</a></>
                        </div>
                        <div class="card">
                            <a href="@Url.Action("Absentlist", "Sign_InOutChildren")">Children Absent Report</a></>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>

